 /* NAV SECTION */

 .nav-section {
  width: 100%;
  height: 100vh;
}

.blocks {
  width: 100%;
  height: 16.5vh;
  border-bottom: 1px solid var(--medium);
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 0;
}

.navs:hover {
  background-color: var(--w3green);
}

/* PROGRESS SECTION */

.progress-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* all titles */
h3 {
  text-align: center;
  font-size: 40px;
  margin: 10px auto 40px;
  padding-top: 20px;
}

.big-div {
  margin: 0 auto 20px;
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .big-div {
    margin: 0 auto 20px;
    width: 96%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.label-div, .progress-div {
  width: 50vw;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

label {
  font-size: 25px;
}

progress {
  width: 100%;
  height: 40px;
}

.progress-description {
  width: 90%;
  margin: 50px auto 0;
}

.progress-descr-p {
  text-align: left;
  font-size: 20px;
}

/* CHANGING PROGRESS LINE STYLE */

/* Add this rule to your CSS file to change the progress bar color and appearance */
.lines {
  appearance: none;
  -webkit-appearance: none; /* For Safari and older versions of Chrome */
  background-color: var(--w3green); /* Change this color to your desired color */
  height: 20px; /* Set the height of the progress bar */
  border-radius: 50%; /* Set the border-radius to create rounded corners */
}

/* Style the filled part of the progress bar */
.lines::-webkit-progress-value {
  background-color: var(--w3green); /* Change this color to your desired color */
  border-radius: 20px; /* Set the border-radius to match the progress bar */
}

/* Style the unfilled part of the progress bar */
.lines::-webkit-progress-bar {
  background-color: rgb(204, 204, 204); /* Change this color to your desired background color */
  border-radius: 20px; /* Set the border-radius to match the progress bar */
}

/* METRONOME SECTION */

.metronome-section {
  margin: 0 auto;
  width: 95%;
  height: auto;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  margin: 0 auto 30px;
  width: 96%;
}

th {
  width: 4.8%;
}

.bpm {
  text-align: center;
}

.nx {
  font-size: 40px;
  text-align: center;
}

.vert {
  writing-mode: vertical-rl;
}
 
.metronome-table-div {
  width: 100%;
  margin: 0 auto;
  overflow-x: auto;
}

.is-green {
  background-color: var(--w3green);
}

/* EXAMS HISTORY */
.exams-history-section {
  width: 95%;
  height: auto;
  margin: 0 auto;
}

.class, .class-year {
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
  color: var(--darker);
}

.score-title {
  text-align: center;
}

.grades {
  font-size: 50px;
  text-align: center;
}

.exams-table {
  margin: 0 auto 30px;
}

.exams-table th {
  text-align: center;
}

/* .exams-table th, .exams-table td {
  background-color: #FFF4A3;
} */

/* GRADES TABLE */

.grades-table-section {
  width: 95%;
  height: auto;
  margin: 0 auto;
}

.grades-table {
  margin: 0 auto 30px;
}

/* .grades-table th, .grades-table td {
  background-color: rgb(126, 253, 137);
} */

/* SOLFEGGIO SECTION */

fieldset {
  width: 90%;
  margin: 0 auto 20px;
}

legend {
  font-size: 30px;
  color: rgb(252, 72, 7);
}